name: test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
        use-uv:
          - true
          - false

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - uses: ./
        with:
          use-uv: ${{ matrix.use-uv }}

      - run: rye --version
