name: validate renovate

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'renovate.json5'
      - '.github/workflows/validate-renovate.yml'

jobs:
  validate-renovate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1

      - name: install
        run: |
          npm install -g renovate
      - name: validate
        run: |
          renovate-config-validator
